:root {
    --card-color: hsl(0, 0%, 12%) ;
    --link-color: hsl(0, 0%, 20%);
    --other-gray : hsl(0, 0%, 8%) ;
    --green-color: hsl(75, 94%, 57%);
    --selection-color: hsl(75, 98%, 41%);
}

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "MyFont";
    src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf") format("ttf");
}

html {
    font-size: 62.5%;
    width: 100vw;
}

ul {
    list-style: none;
}

main ,footer {
    display: flex;
    flex-direction: column;
    justify-content: center ;
    background-color:var(--other-gray);
}

main {
    height: 95vh;
    width: 100%;
}

footer {
    height: 5vh;
    color: white;
}

.card {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    padding: 16px;
    width: 31rem;
    background-color: var(--card-color);
    border-radius: 16px;
    text-align: center;
}

.card__image_container {
    display: inline-block;
    margin-top: 1.5rem;
    margin-bottom: 1.9rem;
    width: 26%;
}

.card__image_container > img {
    height: 100%;
    width: 100%;
    border-radius: 50%;

}

.card__name {
    margin-bottom: 0.9rem;
    font-size: 2rem;
    font-weight:lighter;
    letter-spacing: 0.05rem;
    color: white;
    font-family: "MiFont", sans-serif;
    font-weight: 400;
}

.card__country {
    margin-bottom: 2.1rem;
    color: var(--green-color);
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    font-family: "MiFont", sans-serif;
}

.card__description {
    margin-bottom: 1.5rem;
    color: white;
    font-family: "MiFont", sans-serif;
    letter-spacing: 0.05rem;
    font-weight: lighter;
    font-size: 1.2rem;
}

.card__grid {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}

.card__link {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 3.65rem;
    margin: 5px;
    margin-bottom: 0.85rem;
    border-radius: 5px;
    background-color: var(--link-color);
    cursor: url(./assets/images/hand-pointer.png), pointer;
    color: white;
    text-decoration: none;
    font-family: "MiFont", sans-serif;
    font-weight: 600;
    letter-spacing: 0.07rem;
}

.card__link:hover  {
    background-color: var(--green-color);
    color: black;
}

.card__link:active{
    background-color: var(--selection-color);
}



