/*Variables propias, pueden ser varias*/
:root{
    --container-left: hsl(228, 45%, 44%);
    --red1: hsl(0, 100%, 67%);
    --red2: hsl(0deg 100% 67% / 7%);
    --orange-yellow: hsl(39, 100%, 56%);
    --orange-yellow2: hsl(39deg 100% 56% / 7%);
    --green-teal: hsl(166, 100%, 37%);
    --green-teal2: hsl(166deg 100% 37% / 7%);
    --cobalt-blue: hsl(234, 85%, 45%);
    --cobalt-blue2: hsl(234deg 85% 45% / 7%);
    /*Gradientes*/
    --light-slate-blue-background: hsl(252, 100%, 67%);
    --light-royal-blue-background: hsl(241, 81%, 54%);
    --violet-blue-circle: hsla(256, 72%, 46%, 1);
    --Persian-blue-circle: hsla(241, 72%, 46%, 0);
    /*Neutrals*/
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
    /*Fuente*/
    --MyFont:"Hanken Grotesk";
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html,body {
    font-size: 62.5%;
    font-size: 1rem;
    font-family: sans-serif;
}

main {
    width: 100%;
    height: 90%;
}

@media (min-width: 280px) {

    /*Contenedor superior*/

    .ppal-container {
        width: 100%;
        height: 90%;
    }

    .container-left {
        height: fit-content;
        padding: 2rem;
        box-sizing: border-box;
        display: flex;
        flex-wrap:initial;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 0 0 2rem 2rem;
        background: linear-gradient( var(--light-slate-blue-background) , var(--light-royal-blue-background))
    }

    .container-left > h2 {
        margin-bottom: 1.5rem;
        margin-top: 0.5rem;
        color: var(--light-lavender);
        font-family: sans-serif;
        font-size: 1.2rem;
    }

    .container-left > h3 {
        margin-bottom: 1rem;
        color: var(--white);
        font-family: sans-serif;
        font-size: 1.5rem;
        font-weight: 400;
    }

    .container-left > p {
        margin-left: 1rem;
        margin-right: 1rem;
        text-align: center;
        color: var(--light-lavender);
        font-family: sans-serif;
        font-weight: 400;
        line-height: 1.5rem;
    }

    .container-left__circle {
        display: flex;
        margin-bottom: 1.5rem;
        aspect-ratio: 1/1;
        flex-direction: column;
        align-items: center;
        padding: 1.5rem;
        background: linear-gradient( var(--violet-blue-circle) , var(--Persian-blue-circle));
        border-radius: 50%;
        color: var(--white);
        font-family: var(--MyFont);
    }

    .container-left__circle p:first-child {
        font-size: 3rem;
        font-weight: 600;
    }

    .container-left__circle p:last-child {
        color: var(--light-lavender);
        font-family: sans-serif;
        font-weight: 600;
        opacity: 0.5;
    }

    /*Contenedor inferior*/

    .container-right {
        padding: 1.5rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .container-right__list {
        display: flex;
        margin-bottom: 1.5rem;
        gap: 1.3rem;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        list-style: none;
    }

    .container-right__list > li {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 0.8rem;
        border-radius: 0.5rem;
    }

    .container-right__list > li:nth-child(1) {
        background-color: var(--red2);
        color: var(--red1);
    }

    .container-right__list > li:nth-child(2) {
        background-color: var(--orange-yellow2);
        color: var(--orange-yellow);
    }

    .container-right__list > li:nth-child(3) {
        background-color: var(--green-teal2);
        color: var(--green-teal);
    }

    .container-right__list > li:nth-child(4) {
        background-color: var(--cobalt-blue2);
        color: var(--cobalt-blue);
    }

    .container-right__list li p img {
        vertical-align:bottom;
    }

    .points {
        color: black;
    }

    .points::after {
        content: " / 100";
        opacity: 0.7;
    }

    .summary {
        margin-bottom: 1.5rem;
        font-family: sans-serif;
        font-size: 0.9rem;
        font-weight: 600;
        opacity: 0.7;
    }

    .continue-button {
        padding: 1rem;
        border-radius: 2rem;
        background-color: var(--dark-gray-blue);
        color: var(--white);
        font-size: 1rem;
        font-weight: 500;
        font-family: sans-serif;
    }

    .rights {
        height: 10%;
        color: black;
        text-align: center;
    }

}
	
	
@media (min-width: 1024px) {
    body {
        height: 100%;
    }

    main {
        height: 90vh;
        display: flex;

    .rights {
        height: 10%;
    }

    .ppal-container {
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-left{
        height: 32rem;
        width: 23rem;
        border-radius: 2rem;
    }

    .container-right {
        height: 32rem;
        width: 23rem;
    }
}