:root {
    --blue-500: hsl(215, 51%, 70%);
    --cyan-400: hsl(178, 100%, 50%);

    --blue-950: hsl(217, 54%, 11%);
    --blue-900: hsl(216, 50%, 16%);
    --blue-800: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);

    --MyFont: "Outfit"
}

* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    width: 100vw;
    height: 95vh;
}

main {
    width: 100%;
    height: fit-content;
    padding: 5vw 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

@media (min-width:280px) {
    .card {
        height: fit-content;
        width: 88vw;
        padding: 6vw;
        border-radius: 1rem;
        background-color: aquamarine;
    }

    .card__img {
        width: 100%;
        aspect-ratio: 1/1;
        margin-bottom: 7vw;
        border-radius: 0.6rem;
        background-color: chocolate;
    }

    .card h3 {
        font-family: "Outfit";
        font-size: 6vw;
        margin-bottom: 3vw;
    }

    .card > p {
        margin-bottom: 3.1vw;
        font-family: "Outfit";
        font-size: 4.4vw;
        line-height: 7.2vw;
        font-weight: 300;
    }

    .card__nft p {
        display: flex;
        align-items: center;
    }

    .card__nft {
        padding-bottom: 4vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 4vw;
        font-family: "Outfit";
        border-bottom: 1px;
        border-color: black;
        border-style: solid;
    }

    .card__nft p img {
        margin-right: 1.4vw;
    }

    .card__creator-box {
        margin-top: 3.5vw;
        display: flex;
        justify-content:left ;
        align-items: center;
    }

    .card__creator-box figure {
        width: 10vw;
        margin-right: 4vw;
        border-style: solid;
        border-color: var(--white);
        border-width: 1px;
        border-radius: 50%;
        overflow: hidden;
    }

    .card__creator-box figure img {
        width: 100%;
    }

    .card__creator-box p {
        font-size: 4vw;
        font-family: "Outfit";
    }
}