:root {
    --blue-500: hsl(215, 51%, 70%);
    --cyan-400: hsl(178, 100%, 50%);

    --blue-950: hsl(217, 54%, 11%);
    --blue-900: hsl(216, 50%, 16%);
    --blue-800: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);

    --MyFont: "Outfit"
}

* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
}

main {
    width: 100%;
    min-height: 95%;
    padding: 5vw 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-950);
}

@media (min-width:280px) {
    .card {
        height: fit-content;
        width: 88vw;
        padding: 6vw;
        border-radius: 1.5rem;
        background-color: var(--blue-900);
        box-shadow: 1px 1px 30px black;
    }

    .card__img {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;
        width: 100%;
        aspect-ratio: 1/1;
        margin-bottom: 7vw;
        border-radius: 1rem;
        overflow: hidden;
        background-color: var(--cyan-400);
        cursor: pointer;
    }

    .card__img:hover .card__img--img {
        opacity: 0.5;
        transition: all 0.2s;
    }

    .card__img:hover .card__img--view {
        opacity: 1;
        transition: all 0.2s;
    }

    .card__img--view {
        position: absolute;
        z-index: 8;
        opacity: 0;
        transition: all 0.2s;
    }

    .card__img--img {
        width: 100%;
        transition: all 0.2s;
    }

    .card h3 {
        width: fit-content;
        font-family: "Outfit";
        font-size: 6vw;
        margin-bottom: 3vw;
        color: var(--white);
        font-weight: 500;
        transition: all 0.3s;
        cursor: pointer;
    }

    .card h3:hover {
        color: var(--cyan-400);
    }

    .card > p {
        margin-bottom: 3.1vw;
        font-family: "Outfit";
        font-size: 4.4vw;
        line-height: 7.2vw;
        font-weight: 300;
        color: var(--blue-500);
    }

    .card__nft {
        padding-bottom: 4vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 4vw;
        font-family: "Outfit";
        border-bottom: 1px;
        border-color: var(--blue-500);
        border-style: solid;
    }

    .card__nft p {
        display: flex;
        align-items: center;
    }

    .card__nft p:first-child {
        color: var(--cyan-400);
        font-weight: 500;
    }

    .card__nft P:last-child {
        color: var(--blue-500);
    }

    .card__nft p img {
        margin-right: 1.4vw;
        height: 5vw;
    }

    .card__creator-box {
        margin-top: 3.5vw;
        display: flex;
        justify-content:left ;
        align-items: center;
    }

    .card__creator-box p {
        color: var(--blue-500);
    }

    .card__creator-box a {
        color: var(--white);
        text-decoration: none;
        transition: all 0.3s;
    }

    .card__creator-box a:hover {
        color: var(--cyan-400);
    }

    .card__creator-box figure {
        width: 10vw;
        margin-right: 4vw;
        border-style: solid;
        border-color: var(--white);
        border-width: 2px;
        border-radius: 50%;
        overflow: hidden;
    }

    .card__creator-box figure img {
        width: 100%;
    }

    .card__creator-box p {
        font-size: 4vw;
        font-family: "Outfit";
    }
    

    footer {
        min-height: 5%;
        background-color: var(--blue-950);
        color: var(--white);
    }

    .attribution {
        display: block;
        padding: 1rem;
        text-align: center;
        height: 100%;
        font-size: 3vw;
    }


}

@media (min-width:800px) {
    main {
        padding: 3rem 0;
    }

    .card {
        width: 35rem;
        height: 60rem;
        padding: 2.2rem;
    }

    .card__img {
        margin-bottom: 2.7rem;
    }

    .card h3 {
        font-size: 2.2rem;
        margin-bottom: 1.6rem;
    }

    .card > p {
        font-size: 1.8rem;
        line-height: 2.5rem;
        margin-bottom: 2.7rem;
    }

    .card__nft{
        font-size: 1.5rem;
        padding-bottom: 2.2rem;
    }

    .card__nft p > img {
        height: 2rem;
    }

    .card__creator-box {
        margin-top: 1.6rem;
    }

    .card__creator-box p {
        font-size: 1.6rem;
        font-weight: 400;
    }
    .card__creator-box figure {
        width: 3.2rem;
        border-width: 1px;
        margin-right: 1.8rem;
        margin-left: 0.4rem;
    }

    .footer {

        height: 5%;
    }

    .attribution {
        font-size: 1.5rem;
    }

}